<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="container pt-5" id="app" v-cloak>
      <div class="card center">
        <div v-html="myHtml"></div>
<!--         
        <h2 v-text="titel"></h2>
        <h2 v-once>{{ titel }}</h2>
        <h2 v-pre>{{ titel }}</h2>
        <h2 v-pre>{{ titel }}</h2>
         <div class="wrapper" @click="titel = 'Теперь я другое название'">
            <a href="#"><span>Изминить название</span></a> -->
        
   <div class="form-contpol">
    <input type="text" @keyup.enter="addItem($event)" ref="myInput"> 
   </div>
    <ul class="list" v-if="items.length">
        <li 
        class="list__item"
         v-for="(item , i) in items"
         @click.right.prevent="remove(i), log(item)"
         :key="item"
         >
        <strong>{{ item }}</strong>&nbsp;
        <input type="text" @click.stop>
       
             <!-- <li class="list-item" v-for="(value, key ) in person">
               <strong>{{ key }}</strong> {{ value }}
             </li> -->
    </li>
    </ul>

    <h3 v-show="items.length === 0">Список пустой</h3>
        

      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
